@mixin bbutton(
  $type: 'simple',
  $color: $bbutton-color,
  $font: $font-color,
  $radius: $bbutton-radius
  ) {
  @if $type == 'simple' {
    @include bsimple($color, $font, $radius);
  }
  @else if $type == 'bubbly' {
    @include bbubbly($color, $font, $radius);
  }
  @else if $type == 'chunky' {
    @include bchunky($solor, $font, $radius);
  }
  @else if $type == 'simple-chamelion' {
    @include bsimple($chamelion-color, $font, $radius);
    @include bchamelion;
  }
  @else if $type == 'bubbly-chamelion' {
    @include bbubbly($chamelion-color, $font, $radius);
    @include bchamelion('bubbly');
  }
  @else if $type == 'chunky-chamelion' {
    @include bchunky($chamelion-color, $font, $radius);
    @include bchamelion('chunky');
  }
}

@mixin bsimple(
  $color: $bbutton-color,
  $font: $font-color,
  $radius: $bbutton-radius
  ) {
  background: $color;
  border-radius: $bbutton-radius;
  border: none;
  color: $font;
  padding: 8px 14px;
  @include bbutton-font($bbutton-color, $font, none, 24px);
  &:hover {
    background: darken($color, 10%);
  }
  &:active {
    box-shadow: $simple-box-shadow;
  }
}

@mixin bbubbly(
  $color: $bbutton-color,
  $font: $font-color,
  $radius: $bbutton-radius
  ) {
  background: $color;
  background-repeat: repeat-x;
  border: {
    left: 1px solid rgba(0,0,0,0.2);
    right: 1px solid rgba(0,0,0,0.2);
    bottom: 1px solid rgba(0,0,0,0.2);
    top: 1px solid rgba(0,0,0,0.01);
  }
  border-radius: $radius;
  color: $font;
  padding: 8px 14px;
  @include bbutton-font($color, $font);
  @include blinear-gradient($color, darken($color, 25%));
  &:hover {
    @include blinear-gradient(lighten($color, 5%), darken($color, 20%));
  }
  &:active {
    @include blinear-gradient(darken($color, 5%), $color);
  }
}

@mixin bchunky(
  $color: #999,
  $font: $font-color,
  $radius: $bbutton-radius
  ) {
  background: $color;
  border: none;
  border-radius: 2px;
  color: $font;
  padding: 3px 8px;
  @include bbutton-font;
}

@mixin bgoogle(
  $color: $google-gray,
  $font: $google-font-color,
  $radius: 2px
  ) {
  background: $color;
  border: 1px solid rgba(0,0,0,0.07);
  border-radius: $radius;
  font-weight: bold;
  padding: {
    top: 5px;
    bottom: 7px;
    left: 10px;
    right: 10px;
  }
  @include simple-font($font, $google-font-family, $google-font-size);
  &:hover {
    cursor: default;
    background: darken($color, 1%);
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: $google-shadow-hover;
    &.blue {
      background: darken($color, 5%);
    }
  }
  &:active {
    box-shadow: $google-shadow-active;
    &.blue {
      box-shadow: $google-blue-active;
    }
  }
}

@mixin bgithub(
  $color: $github-gray,
  $font: $github-font-color,
  $radius: 3px
  ) {
  background-color: $color;
  background-image: linear-gradient(rgb(250, 250, 250), rgb(234, 234, 234));
  border: 1px solid rgb(221,221,221);
  border-bottom: 1px solid rgb(197,197,197);
  border-top: 1px solid rgb(221,221,221);
  border-radius: $radius;
  font-weight: bold;
  padding: 2px 10px;
  text-shadow: $github-text-shadow;
  @include simple-font($font, $github-font-family, $github-font-size);
  &:hover {
    background-image: linear-gradient(rgb(240, 240, 240), rgb(220, 220, 220));
  }
  &:active {
    box-shadow: 0 3px 5px rgba(0,0,0,0.2) inset;
  }
}

@mixin bfacebook (
  $color: $facebook-blue,
  $font-color: white,
  $border-color: #2c3789,
  $font-family: $facebook-font-family
  ) {
  background: $color;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.2)), to($color),color-stop(0.07, $color));
  border: 1px solid $border-color;
  font-weight: bold;
  box-shadow: $facebook-box-shadow;
  @include simple-font($font-color, $font-family, $facebook-font-size);
  &.gray {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.2)), to($color),color-stop(0.07, $color));
    border: 1px solid $border-color;
  }
  &:active {
    background: $color;
    box-shadow: 0 1px 2px rgba(0,0,0,0.35) inset;
  }
}

@mixin bdelicious(
  $color: $delicious-button-color,
  $font-color: white,
  $border-color: rgb(36, 88, 162),
  $font-family: $delicious-font-family
  ) {
  background: $color;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.2)), to($color),color-stop(0.03, $color));
  border: 1px solid $border-color;
  font-weight: bold;
  padding: 12px 18px;
  text-shadow: 0 -1px rgba(0,0,0,0.25);
  @include simple-font($font-color, $font-family, $delicious-font-size);
  &:hover {
    background: lighten($color, 7%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.2)), to(lighten($color, 7%)),color-stop(0.03, lighten($color, 7%)));
  }
  &:active {
    background: darken($color, 2%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;
  }
}

@mixin bchamelion(
  $type: 'simple'
  ) {
  text-shadow: 0 0 1px #333;
  @include text-shadow(0,0,1px,0,#333);
  @if $type == 'bubbly' {
    @include bbutton-gradient(top, rgba(255,255,255,0.2), rgba(255,255,255,0.3), rgba(255,255,255,0.2));
    &:hover {
      @include bbutton-gradient(top, rgba(255,255,255,0.17), rgba(255,255,255,0.27), rgba(255,255,255,0.17));
    }
    &:active {
      @include bbutton-gradient(top, rgba(255,255,255,0.2), rgba(255,255,255,0.17), rgba(255,255,255,0.2));
    }
  }
  @else {
    background: rgba(255,255,255,0.1);
    &:hover {
      background: rgba(255,255,255,0.2);
    }
    &:active {
      box-shadow: 0 0 3px 1px rgba(255,255,255,0.3) inset;
    }
  }
}
