// Modules
// -------
@import "bbutton-styles";
@import "mixins";
// Compass modules

// ---------------
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/images";

// Variables
// ---------
$bbutton-color: #CCC;
$bbutton-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$bbutton-radius: 3px;
$blue-bbutton: #545FDD;
$glass-color: rgba(0,0,0,0.0);
$glass-hover: rgba(0,0,0,0.2);
$default-font-size: 18px;
$delicious-button-color: rgb(50, 116, 209);
$delicious-font-family: 'Helvetica Neue', HelveticaNeue, 'Droid Sans', Roboto, Helvetica, sans-serif;
$delicious-font-size: 16px;
$experimental-support-for-svg: true;
$facebook-blue: rgb(91, 116, 168);
$facebook-box-shadow: 0 1px rgba(0,0,0,0.15);
$facebook-font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
$facebook-font-size: 11px;
$facebook-gray-button: rgb(238, 238, 238);
$facebook-gray-font-color: rgb(51, 51, 51);
$font-color: #333;
$github-box-shadow-active: 0 3px 5px rgba(0,0,0,0.2) inset;
$github-font-color: rgb(51, 51, 51);
$github-font-family: Helvetica, arial, freesans, clean, sans-serif;
$github-font-size: 12.8;
$github-gray: rgb(234, 234, 234);
$github-text-shadow: 0 1px rgba(255, 255, 255, 0.9);
$google-blue-active: 0 2px 2px rgba(0,0,0,0.2) inset;
$google-blue: rgb(77, 144, 254);
$google-font-color: rgb(68, 68, 68);
$google-font-family: arial, sans-serif;
$google-font-size: 12.909090995788574px;
$google-gray: #f8f8f8;
$google-shadow-active: 0 1px 2px rgba(0,0,0,0.1) inset;
$google-shadow-hover: 0 1px 1px rgba(0,0,0,0.1);
$green-bbutton: #339933;
$red-bbutton: #990000;
$simple-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.2) inset;
$simple-shadow: rgba(255,255,255,0.25);
$bbutton-shadow: 0 1 $simple-shadow;
$bbutton-shadow-invert: 0 -1 $simple-shadow;
$teal-bbutton: #0FE5D4;
$yellow-bbutton: #E5D400;

// Modules
// -------
@import "bbuttons/button-styles";
@import "bbuttons/mixins";

.test {
  @include test-div(teal);
  button {
    margin: 25px;
    @include bbutton('bubbly-glass', $glass-color, white);
  }
}
.test2 {
  @include test-div(#444);
  button {
    @include bbutton('bubbly-glass', $glass-color, white);
  }
}
.test3 {
  @include test-div;
  @include bbutton-gradient(left, maroon, orange, navy);
  button {
    @include bbutton('bubbly-glass', $glass-color, white);
  }
}
.test4 {
  @include test-div(teal);
  button {
    margin: 25px;
    @include bbutton('simple-glass', $glass-color, white);
  }
}
.test5 {
  @include test-div(#444);
  button {
    @include bbutton('simple-glass', $glass-color, white);
  }
}
.test6 {
  @include test-div;
  @include bbutton-gradient(left, maroon, orange, navy);
  button {
    @include bbutton('simple-glass', $glass-color, white);
  }
}
.top {
  height: 20px;
}

// Default bsimple class
button.bsimple {
  @include bsimple;
}
button.bbubbly {
  @include bbubbly;
}
button.bchunky {
  @include bchunky;
}
button.bgoogle {
  @include bgoogle;
}
button.bgoogle.blue {
  @include bgoogle($google-blue, white);
}
button.bgithub {
  @include bgithub;
}
button.bgithub.invert {
  @include bgithub($github-gray, #b33630, true);
}
button.bfacebook {
  @include bfacebook;
}
button.bfacebook.gray {
  @include bfacebook($facebook-gray-button, $facebook-gray-font-color, rgb(136, 136, 136));
}
button.bdelicious {
  @include bdelicious;
}

// Default size classes
.small {
  border-radius: 2px;
  font: {
    size: 16px !important;
    weight: normal;
  }
  padding: 2px 10px !important;
}
.large {
  border-radius: 4px;
  font-size: 32px !important;
  padding: 12px 19px !important;
  + ul {
    width: 200px !important;
  }
}

// Set of buttons
.button-group {
  width: auto;
  display: inline-block;
  > button {
    @include button-mid;
    float: left;
  }
  button:first-child {
    @include button-left;
    float: left;
  }
  button:last-child {
    @include button-right;
    float: left;
  }
}

// Button dropdown
.button-drop {
  display: inline-block;
  // @include dropdown-style('simple', skyblue, 3px, 10px);
  ul {
    display: block;
    font-family: $bbutton-font;
    list-style: none;
    margin-left: 0;
    margin-top: 3px;
    position: absolute;
    width: 150px;
    li {
      cursor: pointer;
      font-size: 14px;
      line-height: 18px;
      a {
        color: #444;
        display: block;
        margin: 0;
        padding: 8px 0px 8px 8px;
        text-decoration: none;
        width: 100%;
      }
      &.header {
        cursor: default;
        font-weight: bold;
        font-size: 16px;
        padding: 8px 0px 8px 8px;
      }
    }
  }
}

.button-drop#simple {
  margin-left: 250px;
  button#one {
    @include bbutton('simple', purple, #FFF);
  }
  @include dropdown-style('simple', purple, 0, 10px);
}
.button-drop#bubbly {
  margin-left: 90px;
  button#two {
    @include bbutton('bubbly', orange, #FFF);
  }
  @include dropdown-style('bubbly', orange, 5px, 10px);
}
.button-drop#chunky {
  margin-left: 90px;
  button#three {
    @include bbutton('chunky', green, #FFF);
  }
  @include dropdown-style('chunky', green, 3px, 5px);
}

.blue {
  background: blue;
}
button.bglass {
  @include bglass;
}

#bbuttons {
  background: whitesmoke;
}
