// Compass modules
// ---------------
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/images";

// Variables
// ---------
$experimental-support-for-svg: true;
$blue-bbutton: #545FDD;
$yellow-bbutton: #E5D400;
$green-bbutton: #91DF97;
$teal-bbutton: #0FE5D4;
$red-bbutton: #EE6868;
$bbutton-color: #CCC;
$bbutton-radius: 3px;
$font-color: #333;
$simple-shadow: 0 0 1px #FFF;
$chunky-shadow: 0 0 3px #FFF;
$chamelion-color: rgba(0,0,0,0.0);
$chamelion-hover: rgba(0,0,0,0.2);
$bbutton-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$simple-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.2) inset;

// Modules
// -------
@import "bbuttons/button-styles";
@import "bbuttons/mixins";

.test {
  @if lightness(blue) < lightness(green) {
    background: teal;
  }
  @else {
    background: black;
  }
  height: 100px;
  width: 200px;
  button {
    margin: 25px;
    @include bbutton('bubbly-chamelion', $chamelion-color, white);
  }
}
.test2 {
  button {
    margin: 25px;
    @include bbutton('bubbly-chamelion');
  }
}
.test3 {
  button {
    margin: 25px;
    @include bbutton('simple');
  }
}

button.bsimple {
  @include bsimple();
  &.blue {
    background: $blue-bbutton;
    color: white;
    text-shadow: 0 0 2px darken($blue-bbutton, 15%);
    @include blinear-gradient($blue-bbutton, darken($blue-bbutton, 30%));
    &:active {
      @include blinear-gradient(darken($blue-bbutton, 5%), darken($blue-bbutton, 20%));
    }
  }
  &.green {
    background: $green-bbutton;
    color: white;
    text-shadow: 0 0 2px darken($green-bbutton, 15%);
    @include blinear-gradient($green-bbutton, darken($green-bbutton, 25%));
    &:active {
      @include blinear-gradient(darken($green-bbutton, 5%), darken($green-bbutton, 10%));
    }
  }
  &.yellow {
    background: $yellow-bbutton;
    color: white;
    text-shadow: 0 0 2px darken($yellow-bbutton, 15%);
    @include blinear-gradient($yellow-bbutton, darken($yellow-bbutton, 10%));
    &:active {
      @include blinear-gradient(darken($yellow-bbutton, 5%), $yellow-bbutton);
    }
  }
  &.teal {
    background: $teal-bbutton;
    color: white;
    text-shadow: 0 0 2px darken($teal-bbutton, 15%);
    @include blinear-gradient($teal-bbutton, darken($teal-bbutton, 15%));
    &:active {
      @include blinear-gradient(darken($teal-bbutton, 5%), $teal-bbutton);
    }
  }
  &.red {
    background: $red-bbutton;
    color: white;
    text-shadow: 0 0 2px darken($red-bbutton, 15%);
    @include blinear-gradient($red-bbutton, darken($red-bbutton, 20%));
    &:active {
      @include blinear-gradient(darken($red-bbutton, 20%), $red-bbutton);
    }
  }
  &.small {
    border-radius: 2px;
    font: {
      size: 16px;
      weight: normal;
    }
    padding: 2px 10px;
  }
  &.large {
    border-radius: 4px;
    font-size: 32px;
    padding: 12px 19px;
    + ul {
      width: 200px;
    }
  }
  &.left {
    @include left();
    float: left;
  }
  &.right {
    @include right();
    float: left;
  }
  &.mid {
    @include mid();
    float: left;
  }
}

// set of buttons
.button-set {
  width: auto;
  display: inline-block;
  height: auto;
}
// Button dropdown
.button-drop {
  display: inline-block;
  ul {
    position: fixed;
    display: none;
    background: rgb(240, 240, 240);
    border-radius: 5px;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4);
    list-style: none;
    margin-left: 0;
    margin-top: 3px;
    width: 150px;
    li {
      padding: 5px 10px 5px 10px;
      font-size: 16px;
      line-height: 19px;
      a {
        text-decoration: none;
      }
      &.heads-up {
        background: rgba(0,0,0,0) !important;
        // border-bottom: 1px solid rgba(0,0,0,0.2);
        padding: {
          top: 7px;
          bottom: 7px;
        }
        box-shadow: 0 0px 3px 0px rgba(0,0,0,0.4);
      }
      &:hover {
        background: rgba(0,0,0,0.15);
      }
      &:first-child {
        border-radius: 5px 5px 0 0;
      }
      &:last-child {
        border-radius: 0 0 5px 5px;
      }
    }
  }
}
