@mixin blinear-gradient($start, $end) {
  background-color: $end;
  background-image: -webkit-gradient(linear, left top, left bottom, from($start), to($end));
  background-image: -webkit-linear-gradient(top, $start, $end);
  background-image: -moz-linear-gradient(top, $start, $end);
  background-image: -ms-linear-gradient(top, $start, $end);
  background-image: -o-linear-gradient(top, $start, $end);
  background-image: linear-gradient(top, $start, $end);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='$start', EndColorStr='$end');
}
@mixin bbutton-gradient($origin, $start, $mid, $end) {
  @include background-image(linear-gradient($origin, $start, $mid, $end));
}
@mixin radial-gradient($start, $end){
  background: linear-gradient($start, $end);
  background-image: -moz-linear-gradient(bottom, $start, $end);
  background-image: -moz-linear-gradient(left, $start, $end);
  background-image: -moz-linear-gradient(right, $start, $end);
  background-image: -ms-linear-gradient(bottom, $start, $end);
  background-image: -ms-linear-gradient(left, $start, $end);
  background-image: -ms-linear-gradient(right, $start, $end);
  background-image: -o-linear-gradient(bottom, $start, $end);
  background-image: -o-linear-gradient(left, $start, $end);
  background-image: -o-linear-gradient(right, $start, $end);
  background-image: -webkit-gradient(linear, left bottom, right top, from($start), to($end));
  background-image: -webkit-gradient(linear, left top, right bottom, from($start), to($end));
  background-image: -webkit-linear-gradient(bottom, $start, $end);
  background-image: -webkit-linear-gradient(left, $start, $end);
  background-image: -webkit-linear-gradient(right, $start, $end);
  background-image: linear-gradient(bottom, $start, $end);
  background-image: linear-gradient(left, $start, $end);
  background-image: linear-gradient(right, $start, $end);
}

@mixin left($color: rgba(0,0,0,0.3)) {
  border: {
    right: 1px solid $color;
    top-right-radius: 0;
    bottom-right-radius: 0;
  }
}
@mixin mid($color: rgba(255, 255, 255, 0.4)) {
  border: {
    left: 1px solid lighten($color, 25%);
    right: 1px solid rgba(0,0,0,0.3);
    radius: 0;
  }
}
@mixin right($color: rgba(255, 255, 255, 0.4)) {
  border: {
    left: 1px solid lighten($color, 25%);
    bottom-left-radius: 0;
    top-left-radius: 0;
  }
}
@mixin bbutton-font(
  $size: 24px,
  $family: $bbutton-font
  ) {
  font: {
    size: $size;
    family: $family;
  }
}
