.section {
  border-bottom: 2px solid rgba(255,255,255,0.25);
  line-height: 70px;
}
.top {
  height: 20px;
}
.highlight {
  color: #93bd20 !important;
}
.include {
  color: #d85f00;
}
.class-highlight {
  color: #ffcc00;
}
.class-highlight2 {
  color: #97f258;
}
.dim {
  color: rgba(255,255,255,0.5);
}
.muted {
  color: #555;
}
.yellow {
  color: #e3d204;
}
.well {
  background: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 3px 0px inset;
  padding: 1.5em;
  margin: 1em 0;
}
.to-top {
  font-size: 12px;
  float: right;
}
.to-top a {
  margin-left: 10px;
}
.left {
  position: relative;
  float: left;
  font-family: OpenSansLight, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-left: 20px;
}
.right {
  position: relative;
  float: right;
  font-family: OpenSansLight, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-right: 20px;
}
span.right {
  font-size: 11px;
  line-height: 61px;
}

.separate {
  border-bottom: 1px solid rgba(255,255,255,0.25);
  width: 12em;
}

#variables {
  overflow-x: wrap;
}
