<!-- The structure of a dropdown should start with a div -->
<!-- The div needs a class 'button-drop' -->

<!-- Large bsimple button-drop example -->
<div class="button-drop">
<!-- You MUST give the button an id-->
  <button id="one" class="bsimple large">
    Dropdown
  </button>
<!-- From here, we have a simple ul tag-->
  <ul class="drop">
<!-- The built-in 'heads-up' class on an li tag -->
<!-- will make the li more pronounced. -->
    <li class="heads-up">
      Sub-header
    </li>
    <li>
      <a href="#">
        Important
      </a>
    </li>
    <li>
      <a href="#">
        Not as important
      </a>
    </li>
    <li class="heads-up">
      Info about these
    </li>
    <li>
      <a href="#">
        These one
      </a>
    </li>
    <li>
      <a href="#">
        These two

      </a>
    </li>
  </ul>
</div>

<!-- A button dropdown with a normal button -->
<div class="button-drop">
<!-- You MUST give the button in the button drop an id-->
  <button id="two" class="bsimple">
    Dropdown
  </button>
  <ul class="drop">
    <li class="heads-up">
      Drop-menu
    </li>
    <li>
      <a href="#">
        thing2
      </a>
    </li>
    <li>
      <a href="#">
        thing
      </a>
    </li>
    <li>
      <a href="#">
        thing2

      </a>
    </li>
  </ul>
</div>

<!-- Small button-drop example -->
<div class="button-drop">
<!-- You MUST give the button in the button drop an id-->
  <button id="three" class="bsimple small blue">
    Small drop
  </button>
  <ul class="drop">
    <li>
      <a href="#">
        Small thing
      </a>
    </li>
    <li>
      <a href="#">
        Another small thing

      </a>
    </li>
  </ul>
</div>
<div class="clear">
.button-drop

<!-- Button sets! -->

<!-- Each button set is stored inside a div with -->
<!-- class button-set -->
</div>
<div class="button-set">
<!-- Give a button class left to make it the left-side -->
  <button class="bsimple small left">
    Left
  </button>
<!-- Class mid will make the button a middle button -->
  <button class="bsimple small mid">
    Mid
  </button>
<!-- You can see where this is going -->
  <button class="bsimple small mid">
    Mid 2
  </button>
<!-- Finally class right will end the button set -->
  <button class="bsimple small right">
    Right
  </button>
</div>
<div class="clear">
.button-set.small

<!-- An example with a normal sized button-set -->
</div>
<div class="button-set">
  <button class="bsimple teal left">
    Left
  </button>
  <button class="bsimple yellow mid">
    Mid
  </button>
  <button class="bsimple red right">
    Right
  </button>
</div>
<div class="clear">
.button-set

<!-- Here is an example with the large button set -->
</div>
<div class="button-set">
  <button class="bsimple large green left">
    Left
  </button>
  <button class="bsimple large green mid">
    Mid
  </button>
  <button class="bsimple large green right">
    Right
  </button>
</div>
<div class="clear">
.button-set.large

<!-- Creating a button with bbuttons is as simple as -->
<!-- giving the button the class 'bsimple'. -->

<!-- If you feel really froggy, you can even use the bsimple -->
<!-- mixin inside your css file. -->
<!-- If you don't like my pre-defined colors, (No one blames you) -->
<!-- then pass the bsimple mixin any color you like! -->
<!-- Refer to the scss file for the mixin. -->

<!-- Make your button small by adding the class 'small' -->
</div>
<button class="bsimple small">
  Content
</button>
<button class="bsimple blue small">
  Content
</button>
<button class="bsimple teal small">
  Content
</button>
<button class="bsimple green small">
  Content
</button>
<button class="bsimple yellow small">
  Content
</button>
<button class="bsimple red small">
  Content
</button>
<div class="clear">
button.bsimple.small

</div>
<button class="bsimple">
  Content
</button>
<button class="bsimple blue">
  Content
</button>
<button class="bsimple teal">
  Content
</button>
<button class="bsimple green">
  Content
</button>
<button class="bsimple yellow">
  Content
</button>
<button class="bsimple red">
  Content
</button>
<div class="clear">
button.bsimple

<!-- Or, you can make large buttons by adding the class 'large' -->
</div>
<button class="bsimple large">
  Content
</button>
<button class="bsimple blue large">
  Content
</button>
<button class="bsimple teal large">
  Content
</button>
<button class="bsimple green large">
  Content
</button>
<button class="bsimple yellow large">
  Content
</button>
<button class="bsimple red large">
  Content
</button>
<div class="clear">
button.bsimple.large
</div>